@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&family=Poppins:wght@400;500;600&display=swap');

@font-face {
    font-family: 'Gilroy';
    src: url(../assets/fonts/Gilroy-ExtraBold.ttf) format('truetype');
    font-weight: 800;
    font-style: normal;
}


* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #fff; */
}



/* .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: #fff;
} */

.logo {
    display: flex;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 40px;
}

.nav-links a {
    text-decoration: none;
    color: #4F4F4F;
    font-weight: 400;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 60px;
}

.search-bar {
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 5px 10px;
    border: 1px solid #D9D9D9;
}

.search-bar input {
    border: none;
    outline: none;
    padding: 5px;
    color: #D9D9D9;
}

.cart-icon {
    height: 26px;
    width: 26px;
}

.search-btn {
    border: none;
    padding: none;
    background-color: white;
}

/* Feature Bar */
/* .feature-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 60px;
    background-color: #FFEEDF;
    height: 40px;
} */

.feature {
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 12px;
}


/* Hero Section*/
.hero-inner {
    /* width: 100%; */
    /* max-width: 1180px; */
    /* width: 82%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}

.hero-title {
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Gilroy', sans-serif;
    position: relative;
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 52px;
    /* line-height: 100%; */
    letter-spacing: 0%;
}

.hero-triad-icon {
    position: absolute;
    top: -25px;
    right: 24px;
    width: 37px;
    height: 33px;
    border-width: 3px;
}

/* .hero-title {
    font-family: 'Gilroy-Bold', sans-serif;
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 52px;
    line-height: 100%;
    letter-spacing: 0%;
} */

.hero-sub {
    font-family: Poppins;
    position: relative;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0%;
    color: #4F4F4F;
}

.hero-duck-icon {
    position: absolute;
    z-index: 1;
    bottom: -2rem;
    right: -5rem;
}


.title-span {
    background-image: linear-gradient(to right, #00C9F2, #018FDC);
    background-clip: text;
    color: transparent;
    font-family: 'Gilroy', sans-serif;
}

.hero-left {
    position: relative;
    width: 100%;
    padding-top: 80px;
}

.hero-header {
    /* max-width: 500px;
    width: 125%; */
    max-width: 500px;
    width: 125%;
    gap: 22px;
    display: flex;
    flex-direction: column;
}

.hero {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}

/* .hero-right {
    max-width: 66%; 
    padding-top: 40px;
} */

.hero-images {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero-thumbnails {
    gap: 20px;
    display: flex;
}

.hero-button {
    gap: 10px;
    padding: 13px 49px;
    border-radius: 57px;
    text-decoration: none;
    background-color: black;
    color: white;
    font-size: 16px;
    line-height: 20px;
}

.hero-btn {
    padding-top: 40px;
}

.parent-nav {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: #fff;
    width: 100%;
}

.feature-bar {
    background-color: #FFEEDF;
    height: 40px;
    width: 100%;
}

.feature-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    height: 100%;
    max-width: 1180px;
    margin: 0 auto;
    width: 100%;
}


@media (min-width: 320px) and (max-width: 425px) {

    /* Navbar */
    .navbar {
        flex-direction: column;
        justify-content: center;
        align-items: start;
        /* width: 90%; */
                width: 100%;

        gap: 10px;
        padding: 10px 15px;
        height: auto;
    }

    .hamburger {
        display: block;
    }

    .hero {
        padding-top: 0px;
    }

    .nav-left {
        /* flex-direction: column;
        gap: 8px; */
            /* flex-direction: column; */
    gap: 8px;
    /* max-width: 425px; */
    width: 100%;
    justify-content: space-between;
    }

    .nav-links {
        display: none;
    }

    .nav-right {
        gap: 8px;
    }

    .search-bar input {
        width: 100px;
        font-size: 12px;
    }

    /* Feature Bar */
    .feature-bar {
        height: auto;
        padding: 8px 0;
        overflow-x: auto;
        white-space: nowrap;
    }

    .feature-container {
        gap: 20px;
        padding: 0 10px;
    }

    .feature {
        font-size: 10px;
        gap: 4px;
    }

    .feature img {
        width: 16px;
        height: 16px;
    }

    /* Hero Section */
    .hero-inner {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 15px;
        gap: 30px;
        padding-top: 30px;
    }

    .hero-left {
        /* max-width: 100%;
        align-items: center;
        padding-top: 20px; */
        max-width: 100%;
        align-items: baseline;
        padding-top: 20px;
        text-align: left;
    }

    .hero-header {
        width: 100%;

        gap: 20px;
        display: flex;
        flex-direction: column;
    }

    .hero-title {
        font-size: 26px;
        line-height: 120%;
    }

    .hero-sub {
        font-size: 13px;
    }

    .hero-right {
        max-width: 100%;
        padding-top: 15px;
    }

    .hero-images {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .hero-thumbnails {
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    .hero-thumbnails img {
        flex-grow: 1;
    }

    .hero-button {
        padding: 9px 25px;
        font-size: 13px;
    }

    .hero-large {
        width: 100%;
        /* max-width: 320px; */
        height: auto;
    }

    .hero-duck-icon {
        right: -1rem;
    }
}


@media (min-width: 1024px) and (max-width: 1200px) {

    /* Navbar adjustments */
    .parent-nav {
        max-width: 975px;
        padding: 0 20px;
    }

    .nav-links {
        gap: 25px;
    }

    .nav-links a {
        font-size: 14px;
    }

    .nav-left {
        gap: 40px;
    }

    .search-bar input {
        width: 130px;
    }

    .search-bar {
        padding: 4px 8px;
    }

    /* Feature Bar */
    .feature-container {
        max-width: 935px;
        gap: 30px;
        /* padding: 0px 20px; */
    }

    .feature {
        gap: 15px;
        font-size: 11px;
    }

    .feature img {
        width: 22px;
        height: 22px;
    }

    /* Hero Section */
    .hero-inner {
        max-width: 1000px;
        gap: 60px;
        /* padding: 0 20px; */
        padding: 0 20px 0 35px;
    }

    .hero-title {
        font-size: 42px;
        line-height: 110%;
    }

    .hero-sub {
        font-size: 13px;
    }

    .hero-duck-icon {
        right: -3rem;
    }

    .hero-triad-icon {
        width: 37px;
        height: 33px;
        top: -25px;
        right: 30px;
    }

    .hero-right {
        /* max-width: 56%; */
        padding-top: 20px;
    }

    .hero-images {
        gap: 8px;
    }

    .hero-thumbnails {
        width: auto;
        height: auto;
        gap: 6px;
        justify-content: space-between;
    }

    .hero-button {
        padding: 11px 40px;
        font-size: 15px;
    }

    .hero-header {
        width: 100%;
    }
}


@media (min-width: 425px) and (max-width: 768px) {

    /* Navbar */
    .navbar {
        /* flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        padding: 10px 0;
        gap: 15px; */

        flex-direction: column;
        justify-content: center;
        align-items: start;
        height: auto;
        /* padding: 10px 0px 10px 20px; */
        gap: 15px;
        width: 100%;
        padding: 10px 0px 10px 20px;
    }

    .nav-left {
    /* flex-direction: column; */
    gap: 10px;
    width: 95%;
    justify-content: space-between;

    }

    .hero {
        padding-top: 0px;
    }

    .nav-links {
        display: none;
    }

    /* .nav-links a {
        font-size: 14px;
    } */

    .nav-right {
        gap: 10px;
    }


    .search-bar input {
        /* width: 100px; */
        font-size: 12px;
    }

    /* .cart-icon {
        height: 22px;
        width: 22px;
    } */

    /* Feature Bar */
    .feature-bar {
        height: auto;
        padding: 10px 0;
        overflow-x: auto;
        white-space: nowrap;
    }

    .feature-container {
        gap: 25px;
        padding: 0 15px;
    }

    .feature {
        font-size: 11px;
        gap: 6px;
    }

    .feature img {
        width: 18px;
        height: 18px;
    }


    /* Hero Section */
    .hero-inner {
        /* flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 20px;
        gap: 40px; */

            flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
    gap: 40px;
    width: 100%;
    }

    .hero-left {
        /* max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 30px; */

        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: center;
        padding-top: 30px;
        text-align: left;
    }

    .hero-header {
        width: 100%;
    }

    .hero-title {
        font-size: 32px;
        line-height: 120%;
    }

    .hero-sub {
        font-size: 14px;
    }

    .hero-right {
        /* max-width: 100%;
        padding-top: 20px; */
            max-width: 888px;
    padding-top: 20px;
    width: 100%;
    }

    .hero-images {
        /* flex-direction: column;
        align-items: center; */
            flex-direction: column;
    align-items: center;
    width: 100%;
    }



    .hero-thumbnails {
        /* flex-wrap: wrap;
        justify-content: center; */
            flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    }

    .hero-thumbnails img {
        flex-grow: 1;
    }


    .hero-button {
        padding: 10px 30px;
        font-size: 14px;
    }

    .hero-large {
        /* width: 90%;
        max-width: 280px;
        height: auto;
        display: block;
        object-fit: contain; */

        width: 100%;
        /* max-width: 580px; */
        height: auto;
    }

    .hero-duck-icon {
        right: 0.8rem;
    }


}



@media (min-width: 769px) and (max-width: 1023px) {

    /* Navbar */
    .navbar {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 95%;
        padding: 10px 20px;
        padding-left: 30px;
        gap: 15px;
    }

    .hamburger {
        display: none;
    }

    .nav-left {
        flex-direction: row;
        gap: 25px;
    }

    .nav-links {
        gap: 20px;
    }

    .nav-links a {
        font-size: 13px;
    }

    .nav-right {
        gap: 15px;
    }

    .search-bar input {
        width: 120px;
        font-size: 13px;
    }

    .search-bar {
        padding: 4px 10px;
    }

    /* Feature Bar */
    .feature-bar {
        height: auto;
        padding: 12px 0;
    }

    .feature-container {
        max-width: 900px;
        gap: 30px;
        padding: 0 20px;
    }

    .feature {
        font-size: 12px;
        gap: 10px;
    }

    .feature img {
        width: 20px;
        height: 20px;
    }

    /* Hero Section */
    .hero-inner {
        /* flex-direction: row; */
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 50px;
        padding: 20px 30px;
        /* margin: 0 auto;
        width: 90%; */
        width: 100%;
    }

    .hero-left {
        /* max-width: 50%; */
        /* padding-top: 30px;
        width: 695px; */

        /* max-width: 100%;
    padding-top: 30px;
    width: 695px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */

        /* max-width: 50%; */
        max-width: 100%;
        padding-top: 30px;
        /* width: 695px; */
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: center;
    }

    .hero-header {
        width: 100%;
    }

    .hero-title {
        font-size: 36px;
        line-height: 115%;
    }

    .hero-sub {
        font-size: 14px;
    }

    .hero-right {
        /* max-width: 50%; */
        /* padding-top: 10px; */
        width: 100%;
    }

    /* 
    .hero-images {
        gap: 10px;
        justify-content: center;
    } */

    .hero-thumbnails {
        width: auto;
        height: auto;
        gap: 8px;
        justify-content: space-between;

        & img {
            width: 100%;

        }
    }

    .hero-button {
        padding: 10px 35px;
        font-size: 14px;
    }

    .hero-large {
        width: 100%;
        /* max-width: 480px; */
        height: auto;
    }

    .hero-duck-icon {
        position: absolute;
        right: 10rem;


    }
}

































/* Container */
.container {
    /* width: 90%;
    max-width: 1180px;
    text-align: center; */

    /* width: 90%;
    max-width: 1180px;
    text-align: center; */
    /* width: 100%; */
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 109px;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .container {
        width: 95%;
    }
}

/* Section Headings */
.featured-title {

    font-family: Poppins;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0%;
    color: #0056BD;
    margin: 0;
}

.main-title {

    /* font-family: 'Montserrat', sans-serif; */
    font-weight: 700;
    font-size: 28px;
    font-family: Gilroy;
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0%;
}


.section-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
    padding-bottom: 40px;
}



/* Product Grid */
.product-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 1180px;
    gap: 20px;
}

.product-card {
    background: #fff;
    border: 1px solid #D9D9D9;
    border-radius: 20px;
    height: 337.41015625px;
    top: 954.42px;
    left: 730px;
    border-width: 1px;
    opacity: 1;
    display: flex;
    flex-direction: column;
}


.product-card img {
    /* width: 100%;
    border-radius: 12px 12px 0 0; */

    /* width: 100%; */
    border-radius: 14px;
    /* height: 63%; */
    width: 259.217346px;
    height: 214.29010009765625px;
    top: 964.74px;
    left: 440.41px;
    opacity: 1;
    border-radius: 14px;
    /* padding: 10px; */
    border: none;
}

.product-card h3 {
    /* font-size: 14px;
    font-weight: 600; */
    font-size: 14px;
    font-weight: 600;
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0%;
}

.product-card p {
    font-weight: 600;
    font-size: 14px;
}

.stars {
    color: #F2AE00;
    font-size: 14px;
}

/* Responsive Grid */
/* @media (max-width: 1100px) {
    .product-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 820px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .product-grid {
        grid-template-columns: 1fr;
    }

    .main-title {
        font-size: 22px;
    }
} */

.product-info-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;



}

.product-name {
    font-size: 14px;
    font-weight: 600;
    display: flex;
}

.product-info {
    /* padding: 0px 10px; */
    padding: 0px 10px;
    /* gap: 25px; */
    display: flex;
    flex-direction: column;
    gap: 25px;
}


/* Responsive Grid Only */
@media (max-width: 1180px) {
    .product-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 820px) {
    .product-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 480px) {
    .product-grid {
        grid-template-columns: 1fr;
    }
}

.product-image {
    padding: 10px;
    /* border-radius: 14px;
    height: 214.29px;
    top: 964.74px;
    left: 440.41px;
    opacity: 1;
    border-radius: 14px;
    border: none;

    border-radius: 14px;
    width: 259.217346px;
    height: 214.29px;
    top: 964.74px;
    left: 440.41px;
    opacity: 1;
    border-radius: 14px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
    border: none;
    overflow: hidden;
    padding-top: 11px; */
}




.product-image img {
    width: 100%;
}

/*  */
.pool-floats-section {
    padding-top: 120px;
}










.promo-container {
    max-width: 1180px;
    width: 90%;
    margin: 0 auto;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .promo-container {
        width: 95%;
    }
}

.tagline {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    color: #0056BD;
    margin: 0;
}

.section-title {
    font-family: 'Gilroy', sans-serif;
    text-align: center;
    font-size: 32px;
    font-weight: 800;
    padding-bottom: 40px;
    padding-top: 20px;
}

.promo-grid {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    max-width: 1180px;
    max-height: 345px;

}

.promo-large {
    grid-row: 1 / 3;
}



.promo-card {
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    color: #000;
}



.promo-inner {
    display: flex;
    height: 100%;
}

.promo-content {
    flex: 1;
    padding: 40px;
    padding-right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.promo-content h4 {
    font-family: 'Gilroy', sans-serif;
    font-weight: 800;
    font-size: 26px;
    line-height: 30px;
    padding-bottom: 16px;
}

.promo-content p {

    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0%;
    color: #000000;
    padding-bottom: 25px;
}

.promo-content-small {
    max-width: 220px;
    padding: 20px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 0px;
    gap: 20px;
}

.promo-content-small h4,
.promo-content-small p,
.promo-content h4 {
    margin: 0;
    word-wrap: break-word;
}

.promo-content-small h4 {
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
}

.promo-content-small p {
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;

}

.promo-image {
    flex: 1.2;
    height: 100%;
    position: relative;
}

.promo-image img {
    width: 101%;
    height: 100%;
    object-fit: cover;
    clip-path: polygon(100% 0, 100% 50%, 100% 99%, 21% 100%, 0% 50%, 21% 0);
}


.shop-btn {
    background: #000;
    color: #fff;
    border: none;
    border-radius: 57px;
    padding: 15px 25px;
    max-width: 176px;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.promo-large {
    background: #FCA458;
}

.green {
    background: #C4E4D5;
}

.orange {
    background: #EE7A5D;
}

@media (min-width: 425px) and (max-width: 767px) {
    .promo-grid {
        display: flex;
        flex-direction: column;
        max-height: none;

    }

    .promo-card {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        border-radius: 16px;
        overflow: hidden;
        height: 345px;
    }

    .promo-inner {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
    }

    .promo-card.promo-small.orange {
        height: 200px;
        /* height: 162px; */
    }

    .promo-card.promo-small.green {
        height: 200px;
        /* height: 162px; */

    }
}

@media (min-width: 320px) and (max-width: 424px) {

    .pool-floats-section {
        padding-top: 60px;
    }

    .container {
        padding-top: 70px;
    }

    .promo-grid {
        display: flex;
        flex-direction: column;
        gap: 20px;
        /* padding: 0 10px; */
        max-height: none;
    }

    .promo-card {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        border-radius: 16px;
        overflow: hidden;
        height: 345px;
    }

    .promo-inner {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
    }

    .promo-content,
    .promo-content-small {
        padding: 25px;
        max-width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 0px;
    }

    .promo-content h4 {
        /* font-size: 20px;
        line-height: 26px; */
        font-size: 26px;
        line-height: 26px;
        padding-right: 6px;
    }

    .promo-content-small h4 {
        font-size: 20px;
        line-height: 26px;
    }

    .promo-content p,
    .promo-content-small p {
        font-size: 14px;
        line-height: 20px;
    }

    .shop-btn {
        /* padding: 12px 24px;
        font-size: 14px;
        border-radius: 40px;
        max-width: 150px; */
        padding: 14px 24px;
        font-size: 14px;
        border-radius: 40px;
        max-width: 150px;
    }

    .promo-image {
        flex: 1;
        height: 100%;
        position: relative;
    }

    .promo-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        /* clip-path: polygon(100% 0%, 100% 100%, 52% 100%, 26% 0); */
        clip-path: polygon(100% 0, 100% 50%, 100% 99%, 21% 100%, 0% 50%, 21% 0);

    }

    .promo-card.promo-small.orange {
        height: 162px;
    }

    .promo-card.promo-small.green {
        height: 162px;
    }



    .tagline {
        font-size: 18px;
    }

    .section-title {
        font-size: 24px;
        line-height: 30px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {

    .promo-content,
    .promo-content-small {
        padding: 25px;
        /* max-width: 50%; */
        max-width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .promo-content h4,
    .promo-content-small h4 {
        font-size: 20px;
        line-height: 26px;
    }

    .promo-content p,
    .promo-content-small p {
        font-size: 14px;
        line-height: 20px;
    }
}





















.features-section {
    width: 100%;
    padding: 20px 0;
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
    padding-top: 115px;
}

.features-container {
    max-width: 1180px;
    margin: 0 auto;
    text-align: center;
    width: 90%;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .features-container {
        width: 95%;
    }
}

.features-title h3 {
    font-family: Gilroy;
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 32px;
    line-height: 40px;
    padding-bottom: 40px;
    letter-spacing: 0%;

}

.features-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
}

.feature-card {
    background-color: #e6f7ff;
    border-radius: 15px;
    padding: 39px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 29px;
}

.feature-2 img {
    width: 48.911376953125px;
    height: 58.937408447265625px;
    opacity: 1;

}

.feature-icon img {
    width: 80px;
    height: auto;
}


.feature-text div {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    font-family: Poppins;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0%;
}

.features-section .feature-icon img {
    width: 60px;
    height: 60px;
}

.features-section .feature-icon img.feature-2 {
    width: 70px;
    height: 70px;
}

.features-grid .feature-card:nth-child(1) img {
    width: 72px;
    height: 67px;
}

.features-grid .feature-card:nth-child(2) img {
    width: 49px;
    height: 59px;
}

.features-grid .feature-card:nth-child(3) img {
    width: 49px;
    height: 59px;
}

.features-grid .feature-card:nth-child(4) img {
    width: 132px;
    height: 56px;
}

.features-grid .feature-card:last-child .feature-text div {
    font-size: 20px;
}


@media (min-width: 320px) and (max-width: 425px) {

    .features-section {
        padding: 60px 0;
    }

    .features-title h3 {
        font-size: 22px;
        line-height: 28px;
    }

    .features-grid {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .feature-card {
        padding: 25px 10px;
        gap: 18px;
    }

    .feature-icon img {
        width: 55px !important;
        height: auto;
    }

    .feature-text div {
        font-size: 16px;
        line-height: 22px;
    }


}


@media (min-width: 425px) and (max-width: 768px) {

    .features-section {
        padding: 50px 0;
    }

    .features-title h3 {
        font-size: 26px;
        line-height: 34px;
    }

    .features-grid {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        /* padding: 10px; */
    }

    .feature-card {
        padding: 30px 15px;
        gap: 20px;
    }

    .feature-icon img {
        width: 65px !important;
        height: auto;
    }

    .feature-text div {
        font-size: 18px;
        line-height: 26px;
    }


}

@media (min-width: 768px) and (max-width: 1024px) {

    .features-section {
        padding: 60px 0;
    }

    .features-title h3 {
        font-size: 26px;
        line-height: 32px;
    }

    .features-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }

    .feature-card {
        padding: 25px;
    }

    .feature-icon img {
        width: 55px;
        height: 55px;
    }

    .feature-card h4 {
        font-size: 20px;
    }

    .feature-card p {
        font-size: 15px;
        line-height: 22px;
    }
}





.trustpilot-section {
    text-align: center;
    /* max-width: 1180px; */
    /* width: 90%; */
    margin: 0 auto;
    padding: 110px 0px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.trustpilot-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    /* width: 262px; */
    height: 67px;
    top: 2735px;
    left: 588px;
    opacity: 1;

}

.trustpilot-logo {
    width: 262px;
    height: 67px;
}

.trustpilot-title {
    font-size: 32px;
    font-weight: 600;
}

.reviews-heading {

    font-family: Gilroy;
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0%;
    padding-top: 38px;
    padding-bottom: 40px;
}

.reviews-container {


    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    max-width: 1180px;
    width: 100%;

    display: -webkit-inline-box;
    overflow-x: scroll;
}



.review-card {
    background: #fff;
    border: 1px solid #D9D9D9;
    border-radius: 16px;
    /* padding: 24px; */
    /* width: 320px; */
    text-align: left;

    width: 380.4680480957031px;
    height: 350.10302734375px;
    top: 2903.16px;
    left: 513.77px;
    opacity: 1;
    border-width: 1px;
    border-radius: 25px;

}



.review-header {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 40px;
}

.review-img {
    width: 66px;
    height: 66px;
    /* border-radius: 50%;
    object-fit: cover; */
}

.review-info {
    display: flex;
    flex-direction: column;
}

.review-name {

    font-family: Poppins;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    letter-spacing: 0%;
    padding-bottom: 10px;
}

.review-stars {
    /* width: 80px; */
    width: 115.9842529296875px;
    height: 20px;
    top: 2999.8px;
    left: 252.62px;
    opacity: 1;
}

.review-text {
    /* font-size: 0.9rem;
  line-height: 1.5; */
    color: #4F4F4F;
    padding: 0px 38px;
    margin: 0;
    font-weight: 500;
    font-size: 16px;
}

.trustpilot-container {
    max-width: 1180px;
    width: 90%;
    margin: 0 auto;

}


@media (min-width: 320px) and (max-width: 424px) {

    .trustpilot-section {
        padding: 50px 0px;
    }

    .trustpilot-header {
        flex-direction: column;
        gap: 12px;
    }

    .trustpilot-logo {
        width: 180px;
        height: auto;
    }

    .trustpilot-title {
        font-size: 22px;
    }

    .reviews-heading {
        font-size: 22px;
        line-height: 28px;
        padding: 25px 0;
    }

    .reviews-container {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .review-card {
        /* width: 100%; */
        height: auto;
    }

    .review-header {
        padding: 20px;
    }

    .review-name {
        font-size: 18px;
    }

    .review-text {
        font-size: 14px;
        padding: 0 20px 20px;
    }
}

@media (min-width: 425px) and (max-width: 767px) {

    .trustpilot-section {
        padding: 50px 0px;
    }

    .trustpilot-header {
        flex-direction: column;
        gap: 12px;
    }

    .trustpilot-logo {
        width: 180px;
        height: auto;
    }

    .trustpilot-title {
        font-size: 22px;
    }

    .reviews-heading {
        font-size: 22px;
        line-height: 28px;
        padding: 25px 0;
    }

    .reviews-container {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .review-card {
        /* width: 100%; */
        height: auto;
    }

    .review-header {
        padding: 20px;
    }

    .review-name {
        font-size: 18px;
    }

    .review-text {
        font-size: 14px;
        padding: 0 20px 20px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {

    .trustpilot-section {
        padding: 70px 0;
    }

    .trustpilot-logo {
        width: 220px;
    }

    .trustpilot-title {
        font-size: 28px;
    }

    .reviews-heading {
        font-size: 28px;
        padding: 30px 0;
    }

    .reviews-container {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .review-card {
        width: 100%;
        height: auto;
    }

    .review-header {
        padding: 30px;
    }

    .review-text {
        font-size: 15px;
        padding: 0 28px 28px;
    }
}


@media (min-width: 1024px) and (max-width: 1200px) {
    .reviews-container {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }

    .review-card {
        width: 320px;
    }

    .trustpilot-title {
        font-size: 30px;
    }
}















.articles-section {
    text-align: center;
    padding: 120px 20px;
}

.section-title {
    font-family: Gilroy;
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 32px;
    line-height: 40px;
    padding-bottom: 40px;
    letter-spacing: 0%;


}

.articles-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    justify-content: center;
    gap: 20px;
    /* flex-wrap: wrap; */
    max-width: 1180px;
    margin: 0 auto;
}

/* .article-item {
  width: 300px;
} */

.article-card {
    width: 380px;
    height: 345px;
    border-radius: 12px;
    overflow: hidden;
}





.article-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}



.article-text {
    text-align: left;
}

.author {
    display: block;
    color: #276ef1;
    font-size: 14px;

    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    padding-top: 30px;

}

.article-title {

    color: #000;
    font-family: Poppins;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 22px;
    line-height: 30px;
    margin: 0;
    padding-top: 10px;
    letter-spacing: 0%;
}

.a-container {
    max-width: 1180px;
    /* width: 90%; */
    margin: 0 auto;
}

.article-item {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .articles-container {
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }

    .article-card {
        width: 100%;
        height: 320px;
    }

    .article-title {
        font-size: 20px;
        line-height: 28px;
    }
}

@media (min-width: 320px) and (max-width: 424px) {


    .articles-section {
        padding: 50px 20px;
    }

    .articles-container {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .article-card {
        width: 100%;
        height: auto;
        aspect-ratio: 4 / 3;
    }

    .section-title {
        font-size: 26px;
        line-height: 34px;
        padding-bottom: 25px;
    }

    .article-title {
        font-size: 18px;
        line-height: 26px;
    }

    .author {
        padding-top: 20px;
    }
}

@media (min-width: 425px) and (max-width: 767px) {
    .articles-container {
        grid-template-columns: 1fr;
        gap: 30px;
        width: 95%;
    }

    .article-card {
        width: 100%;
        height: auto;
        /* aspect-ratio: 4 / 3; */
        aspect-ratio: 4 / 2;
    }

    .section-title {
        font-size: 26px;
        line-height: 34px;
        padding-bottom: 25px;
    }

    .article-title {
        font-size: 18px;
        line-height: 26px;
    }

    .author {
        padding-top: 20px;
    }
}

@media (min-width: 1024px) and (max-width: 1200px) {
    .articles-container {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }

    .article-card {
        width: 100%;
        height: 320px;
    }

    .article-card img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .section-title {
        font-size: 30px;
        line-height: 38px;
        padding-bottom: 35px;
    }

    .article-title {
        font-size: 20px;
        line-height: 28px;
    }

    .author {
        font-size: 13px;
        padding-top: 25px;
    }

    .a-container {
        width: 95%;
        max-width: 1100px;
    }
}





/* ===== Pool Section ===== */
.pool-section {
    padding: 18px;
    background: linear-gradient(to right, #C9FFFC, #75FFBE);
}

.pool-container {
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    gap: 40px;
}

.pool {
    display: flex;
    flex-direction: column;
    padding-left: 111px;
    gap: 27px;
}

.pool-title {

    font-family: Gilroy;
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 0%;
}

.pool-desc {
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    max-width: 495px;
    line-height: 130%;
    letter-spacing: 0%;
    color: #4F4F4F;
    padding-bottom: 8px;
}

.btn {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 50px;
    padding: 14px 6px;
    font-size: 15px;
    font-weight: 500;
    width: 176.86962890625px;
    height: 50;
    opacity: 1;
    top: 3719.59px;
    left: 130px;
    border-radius: 57px;
}



.pool-right {
    flex: 1;
    position: relative;
    display: flex;
    align-items: left;
    /* justify-content: center; */
    justify-content: flex-end;

}

/* .pool-images {
    position: relative;
    width: 100%;
    max-width: 612px;
    height: 464px;
} */

.pool-images {
    position: relative;
    width: 100%;
    max-width: 612px;
    aspect-ratio: 612 / 464;
}


/* .image-large {
  position: absolute;
  top: 0;
  right: 0;
  width: 65%;
  height: 100%;
  border-radius: 16px;
  overflow: hidden;
} */


.image-large {
    position: absolute;
    top: 0;
    right: 0;
    width: 65%;
    height: 100%;
    border-radius: 16px;
    overflow: hidden;
}

.image-small {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 55%;
    border-radius: 16px;
    overflow: hidden;
}





.image-large img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* .image-small {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50%;
  height: 55%;
  border-radius: 16px;
  overflow: hidden;
} */

.image-small img {
    width: 112%;
    height: 109%;
    /* object-fit: none; */
}

.icon-swan {
    position: absolute;
    left: -3rem;
    top: 3rem;
}


.icon-spark {
    position: absolute;
    top: 2rem;
    left: 8rem;
}

.icon-ball {
    position: absolute;
    top: 6.6rem;
    left: 6.3rem;
}









@media (max-width: 1023px) {
    .pool-container {
        flex-direction: column;
        gap: 40px;
        text-align: center;
    }

    .pool {
        padding-left: 0;
        align-items: center;
    }

    .pool-images {
        max-width: 612px;
    }

    .pool-right {
        display: contents;
        justify-content: end;
    }

}

@media (min-width: 1024px) and (max-width: 1280px) {
    .pool {
        padding-left: 34px;
        width: 38%;
    }

    .pool-title {

        font-size: 39px;

    }

    .pool-desc {
        font-size: 14px;
    }

    .pool-container {
        gap: 0px;
    }
}



@media (min-width: 320px) and (max-width: 424px) {

    .pool-container {
        /* flex-direction: column;
        align-items: center;
        text-align: center;
gap: 50px; */

        flex-direction: column;
        align-items: end;
        text-align: center;
        gap: 50px;
    }

    .pool-section {
        padding-top: 40px;
    }

    .pool {
        padding-left: 0;
        gap: 16px;
        text-align: left;
        align-items: flex-start;
    }

    .pool-title {
        font-size: 26px;
        line-height: 32px;

    }

    .btn {

        padding: 7px 28px;
        width: 132px;

    }

    .pool-desc {
        /* font-size: 13px;
        max-width: 90%; */
        font-size: 13px;
        /* max-width: 90%; */
    }

    .pool-images {
        max-width: 280px;
        aspect-ratio: 612 / 464;
        position: relative;
    }


    .icon-swan {
        left: -67px;
        top: -57px;
        transform: scale(0.6);
    }

    .icon-spark {
        top: 2px;
        left: 39px;
        transform: scale(0.6);
    }

    .icon-ball {
        top: 11px;
        left: -4px;
        transform: scale(0.6);
    }

    .image-large {
        width: 65%;
        height: 100%;
    }

    .image-small {
        width: 48%;
        height: 50%;
    }
}




@media (min-width: 425px) and (max-width: 660px) {


    .pool {
        padding-left: 0;
        gap: 16px;
        text-align: left;
        align-items: flex-start;
    }

    .pool-section {

        padding-top: 50px;
        padding-bottom: 30px;
    }





    .pool-container {
        /* flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 60px; */
        flex-direction: column;
        align-items: end;
        text-align: center;
        gap: 60px;
    }

    /* .pool {
        padding-left: 0;
        gap: 18px;
    } */

    .pool-title {
        font-size: 32px;
        line-height: 38px;
    }

    .pool-desc {
        font-size: 14px;
        max-width: 85%;
    }

    .pool-images {
        max-width: 360px;
        aspect-ratio: 612 / 464;
        position: relative;
    }



    .icon-swan {
        left: -72px;
        top: -65px;
        transform: scale(0.75);
    }

    .icon-spark {
        top: 10px;
        left: 55px;
        transform: scale(0.75);
    }

    .icon-ball {
        top: 36px;
        left: 19px;
        transform: scale(0.7);
    }


    .image-large {
        width: 65%;
        height: 100%;
    }

    .image-small {
        width: 48%;
        height: 50%;
    }
}




@media (min-width: 661px) and (max-width: 767px) {

    .pool-section {
        padding-left: 0px;
        padding-top: 90px;
        padding-bottom: 50px;
    }

    .pool {
        /* padding-left: 0;
    gap: 16px;
    text-align: left;
    align-items: flex-start; */
        padding-left: 0;
        gap: 16px;
        text-align: left;
        align-items: flex-start;
        /* padding-right: 2px; */
        width: 95%;
    }

    .pool-container {
        /* text-align: left;
        align-items: baseline;
        justify-content: baseline;
        gap: 80px; */
        text-align: left;
        align-items: end;
        justify-content: baseline;
        gap: 80px;
    }

    .icon-swan {
        /* left: -72px; */
        left: -35px;

        top: -65px;
    }



}

@media (min-width: 768px) and (max-width: 1023px) {

    .icon-swan {
        left: -72px;
        top: -65px;
    }

    .pool-right {
        padding-left: 50px;

    }

    .pool {
        align-items: baseline;
        text-align: left;
        /* width: 95%; */
        width: 97%;

    }

    .pool-container {
        text-align: left;
        align-items: end;
        justify-content: baseline;
        gap: 80px;
    }

    .pool-section {
        padding-top: 90px;
        padding-bottom: 50px;
        padding-right: 25px;
        padding-left: 0px;
    }







}




















/* ------------ Newsletter Section ------------ */
.newsletter-section {
    overflow: hidden;
    font-family: "Poppins", sans-serif;
    padding-top: 0;
    max-height: 330px;
}

.wave-shape {
    width: 100%;
    position: relative;
    min-height: 280px;
    overflow: hidden;

    z-index: 1;
}

.wave-shape img {
    width: 100%;
}


.newsletter-box {


    background: #fff;
    max-width: 1180px;
    margin: 0 auto;
    /* padding: 72px 50px; */
    padding: 64px 50px;
    border-radius: 14px;
    text-align: center;
    position: relative;
    top: -153px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    width: 95%;
    border: 1px solid #D9D9D9;
    /* box-shadow: 1px 0px 1px 1px; */
}



.newsletter-box h3 {
    font-size: 26px;
    font-weight: 600;
    white-space: nowrap;
    font-family: Gilroy;
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0%;
}


.newsletter-input-box {
    position: relative;
    width: 510px;
}

.newsletter-input-box input {
    width: 100%;
    padding: 24px 160px 24px 22px;
    border-radius: 40px;

    border: 1px solid #e4e4e4;
    font-size: 16px;
    outline: none;
}

.inside-btn {
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);

    padding: 12px 24px;
    border: none;
    background: #000;
    color: #fff;
    border-radius: 30px;
    font-size: 14px;
    cursor: pointer;
}


@media (min-width: 1024px) and (max-width: 1439px) {

    .wave-shape {
        min-height: 240px;
    }

    .newsletter-section {
        max-height: 275px;
    }

    .newsletter-box {
        padding: 60px 40px;
        top: -153px;
        gap: 18px;
        /* width: 80%; */
        width: 91%;

    }

    .newsletter-box h3 {
        font-size: 26px;
        line-height: 34px;
    }

    .newsletter-input-box {
        width: 360px;
    }

    .newsletter-input-box input {
        padding: 20px 140px 20px 20px;
        font-size: 15px;
    }

    .inside-btn {
        padding: 11px 20px;
        font-size: 13px;
    }

    .wave-shape img {

        width: 100%;
        display: block;
        height: 160px;

    }
}




@media (min-width: 768px) and (max-width: 1023px) {

    .wave-shape {
        min-height: 260px;
    }

    .newsletter-section {
        max-height: 310px;
    }


    .newsletter-box {
        flex-direction: column;
        text-align: center;
        padding: 55px 35px;
        /* width: 70%; */
        width: 95%;
        gap: 22px;
        top: -180px;
    }

    .newsletter-box h3 {
        font-size: 24px;
        line-height: 32px;
    }

    .newsletter-input-box {
        width: 100%;
        max-width: 420px;
        margin: 0 auto;
    }

    .newsletter-input-box input {
        padding: 20px 130px 20px 20px;
        font-size: 15px;
        border-radius: 40px;
    }

    .inside-btn {
        padding: 11px 22px;
        font-size: 13px;
        right: 8px;
    }

    .wave-shape img {

        width: 100%;
        display: block;
        height: 130px;

    }
}


@media (min-width: 425px) and (max-width: 767px) {

    .wave-shape {
        min-height: 240px;
    }

    .newsletter-section {
        max-height: 280px;
    }

    .newsletter-box {
        flex-direction: column;
        text-align: center;
        padding: 55px 35px;
        /* width: 70%; */
        width: 90%;
        gap: 22px;
        top: -180px;
    }

    .wave-shape img {

        width: 100%;
        display: block;
        height: 98px;

    }

    .newsletter-box h3 {
        font-size: 22px;
        line-height: 30px;
        white-space: normal;
    }

    .newsletter-input-box {
        width: 100%;
        max-width: 380px;
        margin: 0 auto;
    }

    .newsletter-input-box input {
        padding: 18px 120px 18px 10px;
        font-size: 12px;
        border-radius: 40px;
    }

    .inside-btn {
        padding: 10px 14px;
        font-size: 11px;
        right: 8px;
    }
}




@media (min-width: 320px) and (max-width: 424px) {

    .wave-shape {
        min-height: 220px;
    }

    .newsletter-section {
        max-height: 240px;
    }

    .wave-shape img {
        width: 100%;
        display: block;
        height: 110px;
    }

    .newsletter-box {
        flex-direction: column;
        text-align: center;
        padding: 40px 25px;
        /* width: 85%; */
        width: 90%;
        gap: 18px;
        top: -160px;
    }

    .newsletter-box h3 {
        font-size: 20px;
        line-height: 28px;
        white-space: normal;
    }

    .newsletter-input-box {
        width: 100%;
        max-width: 320px;
        margin: 0 auto;
    }

    .newsletter-input-box input {
        padding: 16px 100px 16px 16px;
        font-size: 11px;
        border-radius: 40px;
    }

    .inside-btn {
        padding: 8px 13px;
        font-size: 11px;
        right: 6px;
    }
}


@media (min-width:1440px) {
    .newsletter-section {
        max-height: 330px;

    }
}



















/* ---------------- Footer ---------------- */

.footer {
    /* max-width: 1180px;
    margin: 0 auto;
    padding: 40px 20px 60px;
    font-family: "Poppins", sans-serif; */
    max-width: 1180px;
    margin: 0 auto;
    padding: 40px 0px 60px;
    font-family: "Poppins", sans-serif;
    width: 100%;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}

.footer-links {
    display: flex;
    gap: 40px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links a {
    text-decoration: none;
    color: #4F4F4F;
    font-size: 16px;
    font-weight: 500;
}

.footer-social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.footer-social img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.footer-line {
    border: none;
    border-top: 1px solid #2B3D51;
    opacity: 0.2;
}

.footer-mid {
    text-align: center;
}

.footer-logo {
    /* width: 150px; */
    /* opacity: 0.95; */
    width: 97px;
    height: 44.349796295166016px;
    opacity: 1;
    top: -1px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.copy {
    font-size: 14px;
    color: #0A142F;
}

.footer-bottom-links {
    display: flex;
    gap: 25px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-bottom-links a {
    font-size: 14px;
    color: #000;
    text-decoration: none;
}





@media (min-width: 320px) and (max-width: 424px) {

    .footer {
        /* padding: 30px 15px 50px; */
        width: 90%;
    }

    .footer-top {
        /* flex-direction: column;
    gap: 20px;
     text-align: center; */
        /* align-items: start;  */

        flex-direction: column;
        gap: 20px;
        text-align: left;
        align-items: baseline;
    }

    .footer-links {
        flex-direction: column;
        gap: 10px;
    }

    .footer-links a {
        font-size: 14px;
    }

    .footer-social {
        justify-content: center;
        gap: 20px;
    }

    .footer-social img {
        width: 22px;
        height: 22px;
    }


    .footer-bottom {
        /* flex-direction: column;
        gap: 18px;
        text-align: center; */

        flex-direction: column;
        gap: 18px;
        text-align: left;
        align-items: baseline;
    }

    .copy {
        font-size: 13px;
        line-height: 20px;
        width: 90%;
    }

    .footer-mid {
        order: -1;
    }

    .footer-logo {
        width: 85px;
        height: auto;
    }

    .footer-bottom-links {
        flex-direction: column;
        gap: 10px;
    }

    .footer-bottom-links a {
        font-size: 13px;
    }
}

@media (min-width: 425px) and (max-width: 767px) {

    .footer {
        /* padding: 35px 20px 55px; */
        width: 90%;
    }

    .footer-top {
        flex-direction: column;
        gap: 25px;
        text-align: left;
        align-items: baseline;
    }

    .footer-links {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 18px 30px;
    }

    .footer-links a {
        font-size: 15px;
    }

    .footer-social {
        justify-content: center;
        gap: 28px;
    }

    .footer-social img {
        width: 24px;
        height: 24px;
    }

    .footer-bottom {
        flex-direction: column;
        gap: 22px;
        text-align: left;
        align-items: baseline;
    }

    .copy {
        font-size: 14px;
        line-height: 22px;
    }


    .footer-mid {
        text-align: center;
    }

    .footer-logo {
        width: 95px;
        height: auto;
    }

    .footer-bottom-links {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 14px 28px;
    }

    .footer-bottom-links a {
        font-size: 14px;
    }
}


@media (min-width: 768px) and (max-width: 1023px) {

    .footer {
        padding: 40px 0px 65px;
        width: 95%;
    }

    .footer-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

    .footer-links {
        gap: 28px;
    }

    .footer-links a {
        font-size: 15px;
    }

    .footer-social {
        gap: 30px;
    }

    .footer-social img {
        width: 26px;
        height: 26px;
    }


    .footer-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

    .copy {
        font-size: 14px;
        max-width: 280px;
    }

    .footer-mid {
        text-align: center;
    }

    .footer-logo {
        width: 100px;
        height: auto;
    }

    .footer-bottom-links {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-bottom-links a {
        font-size: 12px;
    }
}

@media (min-width: 1024px) and (max-width: 1439px) {
    .footer {
        width: 91%;
    }
}