@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&family=Poppins:wght@400;500;600&display=swap');

@font-face {
    font-family: 'Gilroy';
    src: url(../assets/fonts/Gilroy-ExtraBold.ttf) format('truetype');
    font-weight: 800;
    font-style: normal;
}


* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    box-sizing: border-box;
}

.parent-nav {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: #fff;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 60px;
}

.logo {
    display: flex;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 40px;
}

.nav-links a {
    color: #4F4F4F;
    text-decoration: none;
    font-weight: 400;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 5px 22px;
    border: 1px solid #D9D9D9;
}

.search-bar input {
    border: none;
    outline: none;
    padding: 5px;
    color: #D9D9D9;
}

.search-btn {
    border: none;
    padding: none;
    background-color: white;
}

.cart-icon {
    height: 26px;
    width: 26px;
}

.feature-bar {
    height: 40px;
    width: 100%;
    background-color: #FFEEDF;
}

.feature-container {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 1180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.feature {
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 12px;
}

.hero {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0 0 0;
}

.hero-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}

.hero-left {
    position: relative;
    width: 100%;
    padding: 80px 0 0 0;
}

.hero-header {
    max-width: 500px;
    width: 125%;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.hero-title {
    font-family: 'Gilroy', sans-serif;
    position: relative;
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 52px;
    letter-spacing: 0%;
}

.hero-triad-icon {
    position: absolute;
    top: -25px;
    right: 24px;
    width: 37px;
    height: 33px;
    border-width: 3px;
}

.hero-duck-icon {
    position: absolute;
    z-index: 1;
    bottom: -32px;
    right: -80px;
}

.title-span {
    background-image: linear-gradient(to right, #00C9F2, #018FDC);
    background-clip: text;
    color: transparent;
    font-family: 'Gilroy', sans-serif;
}

.hero-sub {
    color: #4F4F4F;
    position: relative;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0%;
}

.hero-btn {
    padding: 40px 0 0 0;
}

.hero-button {
    color: white;
    gap: 10px;
    padding: 13px 49px;
    border-radius: 57px;
    text-decoration: none;
    background-color: black;
    font-size: 16px;
    line-height: 20px;
}

.hero-images {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero-thumbnails {
    display: flex;
    gap: 20px;
}


@media (min-width: 320px) and (max-width: 424px) {

    .navbar {
        flex-direction: column;
        justify-content: center;
        align-items: start;
        width: 100%;
        gap: 10px;
        padding: 10px 19px;
        height: auto;
    }

    .hamburger {
        display: block;
    }

    .hero {
        padding-top: 0px;
    }

    .nav-left {
        gap: 8px;
        width: 100%;
        justify-content: space-between;
    }

    .nav-links {
        display: none;
    }

    .nav-right {
        gap: 8px;
    }

    .search-bar input {
        width: 100px;
        font-size: 12px;
    }

    /* Feature Bar */
    .feature-bar {
        height: auto;
        padding: 8px 0;
        overflow-x: auto;
        white-space: nowrap;
    }

    .feature-container {
        gap: 20px;
        padding: 0 10px;
    }

    .feature {
        font-size: 10px;
        gap: 4px;
    }

    .feature img {
        width: 16px;
        height: 16px;
    }

    /* Hero Section */
    .hero-inner {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 19px;
        gap: 30px;
        padding-top: 30px;
    }

    .hero-left {
        max-width: 100%;
        align-items: baseline;
        padding-top: 20px;
        text-align: left;
    }

    .hero-header {
        width: 100%;

        gap: 20px;
        display: flex;
        flex-direction: column;
    }

    .hero-title {
        font-size: 26px;
        line-height: 120%;
    }

    .hero-sub {
        font-size: 13px;
    }

    .hero-right {
        max-width: 100%;
        padding-top: 15px;
    }

    .hero-images {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .hero-thumbnails {
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    .hero-thumbnails img {
        flex-grow: 1;
    }

    .hero-button {
        padding: 9px 25px;
        font-size: 13px;
    }

    .hero-large {
        width: 100%;
        height: auto;
    }

    .hero-duck-icon {
        right: -16px;
    }

        .hero-btn
    {
        padding-top: 20px;
    }
}

@media (min-width: 1024px) and (max-width: 1200px) {

    .parent-nav {
        max-width: 975px;
        padding: 0 20px;
    }

    .nav-links {
        gap: 25px;
    }

    .nav-links a {
        font-size: 14px;
    }

    .nav-left {
        gap: 40px;
    }

    .search-bar input {
        width: 130px;

    }

    .search-bar {
        padding: 4px 8px;
    }

    .feature-container {
        max-width: 935px;
        gap: 30px;
    }

    .feature {
        gap: 15px;
        font-size: 11px;
    }

    .feature img {
        width: 22px;
        height: 22px;
    }

    .hero-inner {
        max-width: 1000px;
        gap: 60px;
        padding: 0 20px 0 35px;
    }

    .hero-title {
        font-size: 42px;
        line-height: 110%;
    }

    .hero-sub {
        font-size: 13px;
    }

    .hero-duck-icon {
        right: -48px;
    }

    .hero-triad-icon {
        width: 37px;
        height: 33px;
        top: -25px;
        right: 30px;
    }

    .hero-right {
        padding-top: 20px;
    }

    .hero-images {
        gap: 8px;
    }

    .hero-thumbnails {
        width: auto;
        height: auto;
        gap: 6px;
        justify-content: space-between;
    }

    .hero-button {
        padding: 11px 40px;
        font-size: 15px;
    }

    .hero-header {
        width: 100%;
    }
}

@media (min-width: 425px) and (max-width: 767px) {

    .navbar {
        flex-direction: column;
        justify-content: center;
        align-items: start;
        height: auto;
        gap: 15px;
        width: 100%;
        padding: 10px 0px 10px 30px;
    }

    .nav-left {
        gap: 10px;
        width: 95%;
        justify-content: space-between;

    }

    .hero-btn
    {
        padding-top: 20px;
    }

    .hero {
        padding-top: 0px;
    }

    .nav-links {
        display: none;
    }

    .nav-right {
        gap: 10px;
    }


    .search-bar input {
        font-size: 12px;
        width: 100px;
    }

    .feature-bar {
        height: auto;
        padding: 10px 0;
        overflow-x: auto;
        white-space: nowrap;
    }

    .feature-container {
        gap: 25px;
        padding: 0 15px;
    }

    .feature {
        font-size: 11px;
        gap: 6px;
    }

    .feature img {
        width: 18px;
        height: 18px;
    }


    /* Hero Section */
    .hero-inner {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 20px;
        gap: 40px;
        width: 96%;
    }

    .hero-left {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: center;
        padding-top: 30px;
        text-align: left;
    }

    .hero-header {
        width: 100%;
    }

    .hero-title {
        font-size: 32px;
        line-height: 120%;
    }

    .hero-sub {
        font-size: 14px;
    }

    .hero-right {
        max-width: 888px;
        padding-top: 20px;
        width: 100%;
    }

    .hero-images {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }



    .hero-thumbnails {
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }

    .hero-thumbnails img {
        flex-grow: 1;
    }


    .hero-button {
        padding: 10px 30px;
        font-size: 14px;
    }

    .hero-large {
        width: 100%;
        height: auto;
    }

    .hero-duck-icon {
        left: 300px;
    }


}

@media (min-width: 768px) and (max-width: 1023px) {

    .navbar {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 95%;
        padding: 10px 20px;
        gap: 15px;
    }

    .hamburger {
        display: none;
    }

        .hero-btn
    {
        padding-top: 25px;
    }

    .nav-left {
        flex-direction: row;
        gap: 25px;
    }

    .nav-links {
        gap: 20px;
    }

    .nav-links a {
        font-size: 13px;
    }

    .nav-right {
        gap: 15px;
    }

    .search-bar input {
        width: 120px;
        font-size: 13px;
    }

    .search-bar {
        padding: 4px 10px;
    }

    .feature-bar {
        height: auto;
        padding: 12px 0;
    }

    .feature-container {
        /* max-width: 900px; */
        gap: 30px;
        padding: 0 20px;
    }

    .feature {
        font-size: 12px;
        gap: 10px;
    }

    .feature img {
        width: 20px;
        height: 20px;
    }

    .hero-inner {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 50px;
        padding: 20px 20px;
        width: 100%;
    }

    .hero-left {
        max-width: 100%;
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: center;
    }

    .hero-header {
        width: 100%;
    }

    .hero-title {
        font-size: 36px;
        line-height: 115%;
    }

    .hero-sub {
        font-size: 14px;
    }

    .hero-right {
        width: 100%;
    }

    .hero-thumbnails {
        width: auto;
        height: auto;
        gap: 8px;
        justify-content: space-between;

        & img {
            width: 100%;

        }
    }

    .hero-button {
        padding: 10px 35px;
        font-size: 14px;
    }

    .hero-large {
        width: 100%;
        height: auto;
    }

    .hero-duck-icon {
        position: absolute;
        left: 25rem;
    }
}

@media (min-width: 768px) {
    .hamburger {
        display: none;
    }
}





.products-child-container {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 109px 0 0 0;
    gap: 23px;
}

.products-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 12px;
}

.products-header-title {
    font-weight: 600;
    font-style: SemiBold;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0%;
    color: #0056BD;
}

.products-header-main-title {
    font-weight: 700;
    font-size: 28px;
    font-family: Gilroy;
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0%;
}

.products-tabs {
    display: flex;
    border: 2px solid #D9D9D9;
    border-radius: 59px;
    padding: 8px 10px;
    gap: 20px;
    width: 441.8px;
}

.products-tabs-button {
    background-color: transparent;
    border: 0;
    padding-block: 12px;
    padding-inline: 25px;
    font-size: 16px;
    font-weight: 500;
}

.products-tabs-button:first-child {
    background-color: #0650B7;
    color: white;
    border-radius: 59px;
    padding-inline-start: 30px;
}

.products-tabs-button:last-child {
    color: #0D49B0;
}

@media (max-width: 500px) {
    .products-tabs {
        width: auto;
    }

    .products-tabs-button {
        background-color: transparent;
        border: 0;
        padding-block: 10px;
        padding-inline: 20px;
        font-size: 10px;
        font-weight: 500;
    }

    .products-tabs-button:first-child {
        background-color: #0650B7;
        color: white;
        border-radius: 59px;
        padding-inline-start: 20px;
        font-size: 12px;
    }

    .products-tabs-button:last-child {
        color: #0D49B0;
    }
}


.products-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 1180px;
    padding: 13px 0 0 0;
    gap: 20px;
}

.products-card {
    height: 337.41015625px;
    display: flex;
    flex-direction: column;
    background: #fff;
    border: 1px solid #D9D9D9;
    border-radius: 20px;
    border-width: 1px;
    opacity: 1;
}

.products-card-image {
    padding: 10px;
    width: 100%;
}

.products-card img {
    width: 259.217346px;
    width: 100%;
    height: 214.29010009765625px;
    border-radius: 14px;
    opacity: 1;
    border-radius: 14px;
    border: none;
}

.products-card-stars>img {
    width: auto;
    height: auto;
}

.products-card-info {
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.products-card-info-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.products-card-name {
    font-size: 14px;
    font-weight: 600;
    display: flex;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0%;
}

.products-card-info p {
    font-weight: 600;
    font-size: 14px;
}


@media (max-width: 1180px) {
    .products-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 820px) {
    .products-grid {
        grid-template-columns: 1fr 1fr;
    }

    .products-child-container {
        padding-top: 75px;
    }
}

@media (max-width: 480px) {
    .products-grid {
        grid-template-columns: 1fr;
    }

    .products-child-container {
        padding-top: 70px;
    }

    .products-header-main-title
    {
        font-size: 26px;
    }

    .products-header-title
    {
        font-size: 20px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .products-child-container {
        width: 95%;
        padding-top: 80px;
    }
}


.promo-section-container {
    padding: 120px 0 0 0;
}

.promo-child-container {
    max-width: 1180px;
    width: 90%;
    margin: 0 auto;
}


.promo-tagline {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    color: #0056BD;
}

.promo-title {
    font-family: 'Gilroy', sans-serif;
    text-align: center;
    font-size: 32px;
    font-weight: 800;
    padding: 3px 0 32px 0;
}

.promo-grid {
    max-width: 1180px;
    max-height: 345px;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

.promo-card-large {
    grid-row: 1 / 3;
}

.promo-card {
    display: flex;
    color: #000;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    flex-direction: column;
}

.promo-card-inner {
    height: 100%;
    display: flex;
}

.promo-content {
    display: flex;
    flex: 1;
    padding: 40px;
    padding-right: 0px;
    flex-direction: column;
    justify-content: center;
}

.promo-content-heading {
    font-family: 'Gilroy', sans-serif;
    font-weight: 800;
    font-size: 26px;
    line-height: 30px;
    padding: 0 0 12px 0;
}

.promo-content-desc {
    color: #000000;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0%;
    padding: 0 0 20px 0;
}

.promo-content-small {
    max-width: 220px;
    padding: 20px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 0px;
    gap: 12px;
}


.promo-content-small-heading {
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
}

.promo-content-small-desc {
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
}

.promo-image {
    flex: 1.2;
    height: 100%;
    position: relative;
}

.promo-image img {
    width: 100%;
    height: 101%;
    object-fit: cover;
    clip-path: polygon(100% 0, 100% 50%, 100% 99%, 21% 100%, 0% 50%, 21% 0);
}

.promo-btn {
    background: #000;
    color: #fff;
    border: none;
    border-radius: 57px;
    padding: 15px 25px;
    max-width: 176px;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.promo-card-large {
    background: #FCA458;
}

.promo-green {
    background: #C4E4D5;
}

.promo-orange {
    background: #EE7A5D;
}

@media (min-width: 425px) and (max-width: 767px) {
    .promo-grid {
        display: flex;
        flex-direction: column;
        max-height: none;
    }


    .promo-btn {
        padding: 12px 26px;
        font-size: 14px;
        border-radius: 40px;
        max-width: 145px;
    }

    .promo-card {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        border-radius: 16px;
        overflow: hidden;
        height: 345px;
    }

    .promo-card-inner {
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
    }

    .promo-card.promo-card-small.promo-orange {
        height: 200px;
    }

    .promo-card.promo-card-small.promo-green {
        height: 200px;
    }
}

@media (min-width: 320px) and (max-width: 424px) {

    .promo-section-container {
        padding-top: 60px;
    }

    .container {
        padding-top: 70px;
    }

    .promo-grid {
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-height: none;
    }

    .promo-card {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        border-radius: 16px;
        overflow: hidden;
        height: 345px;
    }

    .promo-card-inner {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
    }

    .promo-content,
    .promo-content-small {
        padding: 25px;
        max-width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 0px;
    }

    .promo-content h4 {
        font-size: 26px;
        line-height: 26px;
        padding-right: 6px;
    }

    .promo-content-small h4 {
        font-size: 20px;
        line-height: 26px;
    }

    .promo-content p,
    .promo-content-small p {
        font-size: 14px;
        line-height: 20px;
    }

    .promo-btn {
        padding: 10px 26px;
        font-size: 14px;
        border-radius: 40px;
        max-width: 125px;
    }

    .promo-image {
        flex: 1;
        height: 100%;
        position: relative;
    }

    .promo-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        clip-path: polygon(100% 0, 100% 50%, 100% 99%, 21% 100%, 0% 50%, 21% 0);
    }

    .promo-card.promo-card-small.promo-orange {
        height: 162px;
    }

    .promo-card.promo-card-small.promo-green {
        height: 162px;
    }

    .promo-tagline {
        font-size: 18px;
    }

    .promo-title {
        font-size: 24px;
        line-height: 30px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {

    .promo-child-container {
        width: 95%;
    }

    .promo-section-container
    {
        padding-top: 80px;
    }

    
    .promo-btn {
        padding: 12px 26px;
        font-size: 14px;
        border-radius: 40px;
        max-width: 145px;
    }

    .promo-content,
    .promo-content-small {
        padding: 25px;
        max-width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .promo-content h4,
    .promo-content-small h4 {
        font-size: 20px;
        line-height: 26px;
    }

    .promo-content p,
    .promo-content-small p {
        font-size: 14px;
        line-height: 20px;
    }
}


.features-section-container {
    width: 100%;
    padding: 115px 0 20px 0;
    background-color: #fff;
}

.features-child-container {
    max-width: 1180px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}


.features-title {
    font-family: Gilroy;
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 32px;
    line-height: 40px;
    padding: 0 0 32px 0;
    letter-spacing: 0%;
}

.features-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
}

.features-card {
    display: flex;
    background-color: #e6f7ff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding: 39px 12px;
    gap: 29px;
}


.features-text {
    font-weight: 600;
    font-style: SemiBold;
    font-size: 22px;
    line-height: 30px;
    color: #000;
    letter-spacing: 0%;
}

.features-icon1 {
    width: 72px;
    height: 67px;
}

.features-icon2 {
    width: 49px;
    height: 59px;
}

.features-icon3 {
    width: 49px;
    height: 59px;
}

.features-icon4 {
    width: 132px;
    height: 56px;
}

.features-text4 {
    font-size: 20px;
}

@media (min-width: 320px) and (max-width: 425px) {
    .features-section-container {
        padding: 60px 0;
    }

    .features-title {
        font-size: 22px;
        line-height: 28px;
    }

    .features-grid {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .features-card {
        padding: 25px 10px;
        gap: 18px;
    }

    .feature-icon img {
        width: 55px;
        height: auto;
    }

    .features-text {
        font-size: 16px;
        line-height: 22px;
    }
}

@media (min-width: 425px) and (max-width: 768px) {
    .features-section-container {
        padding: 50px 0;
    }

    .features-title {
        font-size: 26px;
        line-height: 34px;
    }

    .features-grid {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .features-card {
        padding: 30px 15px;
        gap: 20px;
    }

    .feature-icon img {
        width: 65px;
        height: auto;
    }

    .features-text {
        font-size: 18px;
        line-height: 26px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .features-section-container {
        padding: 60px 0;
    }

    .features-title {
        font-size: 26px;
        line-height: 32px;
    }

    .features-grid {
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }

    .features-card {
        padding: 25px;
    }

    .feature-icon img {
        width: 55px;
        height: 55px;
    }

    .features-text {
        font-size: 20px;
        line-height: 26px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .features-child-container {
        width: 95%;
    }
}


.trustpilot-section-container {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 110px 0px;
    flex-direction: column;
}

.trustpilot-child-container {
    max-width: 1180px;
    width: 90%;
    margin: 0 auto;
}

.trustpilot-header {
    height: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    opacity: 1;
}

.trustpilot-logo {
    width: 262px;
    height: 67px;
}

.trustpilot-reviews-heading {
    font-family: Gilroy;
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0%;
    padding: 38px 0 32px 0;
}

.trustpilot-reviews {
    max-width: 1180px;
    width: 100%;
    gap: 15px;
    display: -webkit-inline-box;
    overflow-x: scroll;
}

.trustpilot-review-card {
    width: 380.4680480957031px;
    height: 350.10302734375px;
    background: #fff;
    border: 1px solid #D9D9D9;
    text-align: left;
    opacity: 1;
    border-width: 1px;
    border-radius: 25px;
}

.trustpilot-review-header {
    display: flex;
    gap: 25px;
    padding: 40px;
}

.trustpilot-review-img {
    width: 66px;
    height: 66px;
}

.trustpilot-review-info {
    display: flex;
    flex-direction: column;
}

.trustpilot-review-name {
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
    padding: 0 0 5px 0;
}

.trustpilot-review-stars {
    width: 115.9842529296875px;
    height: 20px;
    opacity: 1;
}

.trustpilot-review-text {
    color: #4F4F4F;
    padding: 0px 38px;
    font-weight: 500;
    font-size: 16px;
}


@media (min-width: 320px) and (max-width: 424px) {
    .trustpilot-section-container {
        padding: 20px 0px;
    }

    .trustpilot-child-container {
        width: 90%;
    }

    .trustpilot-header {
        flex-direction: column;
        gap: 12px;
    }

    .trustpilot-logo {
        width: 180px;
        height: auto;
    }

    .trustpilot-reviews-heading {
        font-size: 22px;
        line-height: 28px;
        padding: 25px 0;
    }

    .trustpilot-reviews {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .trustpilot-review-card {
        width: 100%;
        height: auto;
    }

    .trustpilot-review-header {
        padding: 20px;
    }

    .trustpilot-review-name {
        font-size: 18px;
    }

    .trustpilot-review-text {
        font-size: 14px;
        padding: 0 20px 20px;
    }
}

@media (min-width: 425px) and (max-width: 767px) {
    .trustpilot-section-container {
        padding: 50px 0px;
    }

    .trustpilot-header {
        flex-direction: column;
        gap: 12px;
    }

    .trustpilot-logo {
        width: 180px;
        height: auto;
    }

    .trustpilot-reviews-heading {
        font-size: 22px;
        line-height: 28px;
        padding: 25px 0;
    }

    .trustpilot-reviews {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .trustpilot-review-card {
        height: auto;
    }

    .trustpilot-review-header {
        padding: 20px;
    }

    .trustpilot-review-name {
        font-size: 18px;
    }

    .trustpilot-review-text {
        font-size: 14px;
        padding: 0 20px 20px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .trustpilot-section-container {
        padding: 50px 0;
    }

    .trustpilot-child-container {
        width: 95%;
    }

    .trustpilot-logo {
        width: 220px;
    }

    .trustpilot-reviews-heading {
        font-size: 28px;
        padding: 30px 0;
    }

    .trustpilot-reviews {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .trustpilot-review-card {
        height: auto;
    }

    .trustpilot-review-header {
        padding: 30px;
    }

    .trustpilot-review-text {
        font-size: 15px;
        padding: 0 28px 28px;
    }
}

@media (min-width: 1024px) and (max-width: 1200px) {
    .trustpilot-reviews {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }

    .trustpilot-review-card {
        width: 320px;
    }
}


.articles-section-container {
    text-align: center;
    padding: 120px 20px;
}

.articles-title {
    font-family: Gilroy;
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 32px;
    line-height: 40px;
    padding: 0 0 32px 0;
    letter-spacing: 0%;
}

.articles-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 20px;
    max-width: 1180px;
    margin: 0 auto;
}

.article-card {
    display: flex;
    flex-direction: column;
}

.article-card-image {
    width: 380px;
    height: 345px;
    border-radius: 12px;
    overflow: hidden;
}

.article-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.article-card-text {
    text-align: left;
}

.article-author {
    display: block;
    color: #276ef1;
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    padding: 30px 0 0 0;
}

.article-card-title {
    color: #000;
    font-family: Poppins;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 22px;
    line-height: 30px;
    padding: 5px 0 0 0;
    letter-spacing: 0%;
}

.articles-child-container {
    max-width: 1180px;
    margin: 0 auto;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .articles-grid {
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }

    .article-card-image {
        width: 100%;
        height: 320px;
    }

    .article-card-title {
        font-size: 20px;
        line-height: 28px;
    }
}

@media (min-width: 320px) and (max-width: 424px) {
    .articles-section-container {
        padding: 50px 20px;
    }

    .articles-grid {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .article-card-image {
        width: 100%;
        height: auto;
        aspect-ratio: 4 / 3;
    }

    .articles-title {
        font-size: 26px;
        line-height: 34px;
        padding-bottom: 25px;
    }

    .article-card-title {
        font-size: 18px;
        line-height: 26px;
    }

    .article-author {
        padding-top: 20px;
    }
}

@media (min-width: 425px) and (max-width: 767px) {
    .articles-grid {
        grid-template-columns: 1fr;
        gap: 30px;
        width: 95%;
    }

    .article-card-image {
        width: 100%;
        height: auto;
        aspect-ratio: 4 / 2;
    }

    .articles-title {
        font-size: 26px;
        line-height: 34px;
        padding-bottom: 25px;
    }

    .article-card-title {
        font-size: 18px;
        line-height: 26px;
    }

    .article-author {
        padding-top: 20px;
    }
}

@media (min-width: 1024px) and (max-width: 1200px) {
    .articles-grid {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }

    .article-card-image {
        width: 100%;
        height: 320px;
    }

    .article-card-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .articles-title {
        font-size: 30px;
        line-height: 38px;
        padding-bottom: 35px;
    }

    .article-card-title {
        font-size: 20px;
        line-height: 28px;
    }

    .article-author {
        font-size: 13px;
        padding-top: 25px;
    }

    .articles-child-container {
        width: 95%;
        max-width: 1100px;
    }
}


.pool-section-container {
    padding: 18px;
    background: linear-gradient(to right, #C9FFFC, #75FFBE);
}

.pool-child-container {
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    gap: 40px;
}

.pool-left {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 111px;
    gap: 27px;
}

.pool-title {
    font-family: Gilroy;
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 0%;
}

.pool-desc {
    max-width: 495px;
    color: #4F4F4F;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0%;
    padding: 0px 0px 8px 0px;
}

.pool-btn {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 50px;
    padding: 14px 6px;
    width: 176px;
    font-size: 15px;
    font-weight: 500;
    opacity: 1;
    border-radius: 57px;
}

.pool-right {
    flex: 1;
    position: relative;
    display: flex;
    align-items: left;
    justify-content: flex-end;
}

.pool-images {
    width: 100%;
    max-width: 612px;
    position: relative;
    aspect-ratio: 612 / 464;
}

.pool-image-large {
    position: absolute;
    top: 0;
    right: 0;
    width: 65%;
    height: 100%;
    border-radius: 16px;
    overflow: hidden;
}

.pool-image-small {
    position: absolute;
    left: 0;
    width: 50%;
    height: 55%;
    bottom: 0;
    border-radius: 16px;
    overflow: hidden;
}

.pool-image-large img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pool-image-small img {
    width: 112%;
    height: 109%;
}

.pool-icon-swan {
    position: absolute;
    left: -48px;
    top: 48px;
}

.pool-icon-spark {
    position: absolute;
    top: 32px;
    left: 128px;
}

.pool-icon-ball {
    position: absolute;
    top: 105.6px;
    left: 100.8px;
}


@media (max-width: 1023px) {
    .pool-child-container {
        flex-direction: column;
        gap: 40px;
        text-align: center;
    }

    .pool-left {
        padding-left: 0;
        align-items: center;
    }

    .pool-images {
        max-width: 612px;
    }

    .pool-right {
        display: contents;
        justify-content: end;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .pool-left {
        padding-left: 34px;
        width: 38%;
    }

    .pool-title {
        font-size: 39px;
    }

    .pool-desc {
        font-size: 14px;
    }

    .pool-child-container {
        gap: 0px;
    }
}

@media (min-width: 320px) and (max-width: 424px) {
    .pool-child-container {
        flex-direction: column;
        align-items: end;
        text-align: center;
        gap: 50px;
    }

    .pool-section-container {
        padding-top: 40px;
    }

    .pool-left {
        padding-left: 0;
        gap: 16px;
        text-align: left;
        align-items: flex-start;
    }

    .pool-title {
        font-size: 26px;
        line-height: 32px;
    }

    .pool-btn {
        padding: 7px 28px;
        width: 132px;
    }

    .pool-desc {
        font-size: 13px;
    }

    .pool-images {
        max-width: 280px;
        aspect-ratio: 612 / 464;
        position: relative;
    }

    .pool-icon-swan {
        left: -67px;
        top: -57px;
        transform: scale(0.6);
    }

    .pool-icon-spark {
        top: 2px;
        left: 39px;
        transform: scale(0.6);
    }

    .pool-icon-ball {
        top: 11px;
        left: -4px;
        transform: scale(0.6);
    }

    .pool-image-large {
        width: 65%;
        height: 100%;
    }

    .pool-image-small {
        width: 48%;
        height: 50%;
    }
}

@media (min-width: 425px) and (max-width: 660px) {
    .pool-left {
        padding-left: 0;
        gap: 16px;
        text-align: left;
        align-items: flex-start;
        width: 98%;
    }

    .pool-section-container {
        padding-top: 50px;
        padding-bottom: 30px;
    }

    .pool-child-container {
        flex-direction: column;
        align-items: end;
        text-align: center;
        gap: 60px;
    }

    .pool-title {
        font-size: 32px;
        line-height: 38px;
    }

    .pool-desc {
        font-size: 14px;
        max-width: 85%;
    }

    .pool-images {
        max-width: 360px;
        aspect-ratio: 612 / 464;
        position: relative;
    }

    .pool-icon-swan {
        left: -72px;
        top: -65px;
        transform: scale(0.75);
    }

    .pool-icon-spark {
        top: 10px;
        left: 55px;
        transform: scale(0.75);
    }

    .pool-icon-ball {
        top: 36px;
        left: 19px;
        transform: scale(0.7);
    }

    .pool-image-large {
        width: 65%;
        height: 100%;
    }

    .pool-image-small {
        width: 48%;
        height: 50%;
    }
}

@media (min-width: 661px) and (max-width: 767px) {
    .pool-section-container {
        padding-left: 0px;
        padding-top: 90px;
        padding-bottom: 50px;
    }

    .pool-left {
        padding-left: 0;
        gap: 16px;
        text-align: left;
        align-items: flex-start;
        width: 95%;
    }

    .pool-child-container {
        text-align: left;
        align-items: end;
        justify-content: baseline;
        gap: 80px;
    }

    .pool-icon-swan {
        left: -35px;
        top: -65px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .pool-icon-swan {
        left: -72px;
        top: -65px;
    }

    .pool-right {
        padding-left: 50px;
    }

    .pool-left {
        align-items: baseline;
        text-align: left;
        width: 98%;
    }

    .pool-child-container {
        text-align: left;
        align-items: end;
        justify-content: baseline;
        gap: 80px;
    }

    .pool-section-container {
        padding-top: 90px;
        padding-bottom: 50px;
        padding-right: 25px;
        padding-left: 0px;
    }
}


.newsletter-section-container {
    max-height: 330px;
    overflow: hidden;
    padding-top: 0;
}

.newsletter-shape {
    width: 100%;
    min-height: 280px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.newsletter-shape-img {
    width: 100%;
}

.newsletter-box {
    max-width: 1180px;
    width: 95%;
    background: #fff;
    margin: 0 auto;
    padding: 50px 50px;
    border-radius: 14px;
    position: relative;
    top: -153px;
    z-index: 10;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    border: 1px solid #D9D9D9;
}

.newsletter-box-title {
    font-family: Gilroy;
    font-size: 32px;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: 0%;
}

.newsletter-box-input {
    width: 510px;
    position: relative;
}

.newsletter-box-input-field {
    width: 100%;
    padding: 24px 160px 24px 22px;
    border-radius: 40px;
    border: 1px solid #e4e4e4;
    font-size: 16px;
    outline: none;
}

.newsletter-box-input-button {
    background: #000;
    color: #fff;
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
    padding: 19px 24px;
    border: none;
    border-radius: 30px;
    font-size: 14px;
    cursor: pointer;
}

@media (min-width: 1024px) and (max-width: 1439px) {

    .newsletter-shape {
        min-height: 240px;
    }

    .newsletter-section-container {
        max-height: 275px;
    }

    .newsletter-box {
        width: 91%;
        padding: 48px 40px;
        top: -153px;
        gap: 18px;
    }

    .newsletter-box-title {
        font-size: 26px;
        line-height: 34px;
    }

    .newsletter-box-input {
        width: 360px;
    }

    .newsletter-box-input-field {
        padding: 20px 140px 20px 20px;
        font-size: 15px;
    }

    .newsletter-box-input-button {
        padding: 11px 20px;
        font-size: 13px;
    }

    .newsletter-shape-img {
        width: 100%;
        height: 160px;
        display: block;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {

    .newsletter-shape {
        min-height: 260px;
    }

    .newsletter-section-container {
        max-height: 310px;
    }

    .newsletter-box {
        width: 95%;
        flex-direction: column;
        text-align: center;
        padding: 40px 35px;
        gap: 22px;
        top: -180px;
    }

    .newsletter-box-title {
        font-size: 24px;
        line-height: 32px;
    }

    .newsletter-box-input {
        width: 100%;
        max-width: 420px;
    }

    .newsletter-box-input-field {
        padding: 20px 130px 20px 20px;
        font-size: 15px;
        border-radius: 40px;
    }

    .newsletter-box-input-button {
        padding: 16px 22px;
        font-size: 13px;
        right: 8px;
    }

    .newsletter-shape-img {
        width: 100%;
        display: block;
        height: 130px;
    }
}

@media (min-width: 425px) and (max-width: 767px) {

    .newsletter-shape {
        min-height: 240px;
    }

    .newsletter-section-container {
        max-height: 280px;
    }

    .newsletter-box {
        flex-direction: column;
        text-align: center;
        padding: 35px 35px;
        width: 90%;
        gap: 22px;
        top: -180px;
    }

    .newsletter-shape-img {
        width: 100%;
        display: block;
        height: 98px;
    }

    .newsletter-box-title {
        font-size: 22px;
        line-height: 30px;
        white-space: normal;
    }

    .newsletter-box-input {
        width: 100%;
        max-width: 380px;
    }

    .newsletter-box-input-field {
        padding: 18px 120px 18px 10px;
        font-size: 12px;
        border-radius: 40px;
    }

    .newsletter-box-input-button {
        padding: 14px 14px;
        font-size: 11px;
        right: 8px;
    }
}

@media (min-width: 320px) and (max-width: 424px) {

    .newsletter-shape {
        min-height: 220px;
    }

    .newsletter-section-container {
        max-height: 240px;
    }

    .newsletter-shape-img {
        width: 100%;
        display: block;
        height: 110px;
    }

    .newsletter-box {
        flex-direction: column;
        text-align: center;
        padding: 30px 25px;
        width: 90%;
        gap: 18px;
        top: -160px;
    }

    .newsletter-box-title {
        font-size: 20px;
        line-height: 28px;
        white-space: normal;
    }

    .newsletter-box-input {
        width: 100%;
        max-width: 320px;
    }

    .newsletter-box-input-field {
        padding: 16px 100px 16px 16px;
        font-size: 11px;
        border-radius: 40px;
        padding-right: 120px;
    }

    .newsletter-box-input-button {
        padding: 12px 13px;
        font-size: 11px;
        right: 6px;
    }
}

@media (min-width:1441px) and (max-width: 2560px) {
    .newsletter-section-container {
        max-height: 500px;
    }
}


.footer-section-container {
    width: 100%;
    max-width: 1180px;
    padding: 25px 0px 60px 0px;
    margin: 0 auto;
}

.footer-top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px 50px 0px;
}

.footer-top-links {
    display: flex;
    gap: 40px;
    list-style: none;
    padding: 0px;
}

.footer-top-links a {
    color: #4F4F4F;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

.footer-top-social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.footer-top-social-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.footer-divider {
    border: none;
    border-top: 1px solid #2B3D51;
    opacity: 0.2;
}

.footer-bottom-brand {
    text-align: center;
}

.footer-bottom-brand-logo {
    width: 97px;
    height: 44.35px;
    opacity: 1;
    top: -1px;
}

.footer-bottom-container {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 30px 0px 0px 0px;
}

.footer-bottom-copy {
    color: #0A142F;
    font-size: 14px;
}

.footer-bottom-links {
    display: flex;
    gap: 25px;
    list-style: none;
    padding: 0px;
}

.footer-bottom-links a {
    color: #000;
    font-size: 14px;
    text-decoration: none;
}


@media (min-width: 320px) and (max-width: 424px) {
    .footer-section-container {
        width: 90%;
        padding-top: 10px;
    }

    .footer-top-container {
        flex-direction: column;
        gap: 20px;
        align-items: baseline;
        text-align: left;
    }

    .footer-top-links {
        flex-direction: column;
        gap: 10px;
    }

    .footer-top-links a {
        font-size: 14px;
    }

    .footer-top-social {
        gap: 20px;
    }

    .footer-top-social-icon {
        width: 22px;
        height: 22px;
    }

    .footer-bottom-container {
        flex-direction: column;
        gap: 18px;
        align-items: baseline;
        text-align: left;
    }

    .footer-bottom-copy {
        width: 90%;
        font-size: 13px;
        line-height: 20px;
    }

    .footer-bottom-brand {
        order: -1;
    }

    .footer-bottom-brand-logo {
        width: 85px;
        height: auto;
    }

    .footer-bottom-links {
        flex-direction: column;
        gap: 10px;
    }

    .footer-bottom-links a {
        font-size: 13px;
    }
}

@media (min-width: 425px) and (max-width: 767px) {

    .footer-section-container {
        width: 90%;
        padding-top: 5px;
    }

    .footer-top-container {
        flex-direction: column;
        gap: 25px;
        align-items: baseline;
        text-align: left;
    }

    .footer-top-links {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 18px 30px;
    }

    .footer-top-links a {
        font-size: 15px;
    }

    .footer-top-social {
        gap: 28px;
    }

    .footer-bottom-container {
        flex-direction: column;
        gap: 22px;
        align-items: baseline;
        text-align: left;
    }

    .footer-bottom-copy {
        line-height: 22px;
    }

    .footer-bottom-brand-logo {
        width: 95px;
        height: auto;
    }

    .footer-bottom-links {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 14px 28px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {

    .footer-section-container {
        width: 95%;
        padding: 15px 0px 65px 0px;
    }

    .footer-top-container {
        gap: 20px;
    }

    .footer-top-links {
        gap: 28px;
    }

    .footer-top-links a {
        font-size: 15px;
    }

    .footer-top-social {
        gap: 30px;
    }

    .footer-top-social-icon {
        width: 26px;
        height: 26px;
    }

    .footer-bottom-container {
        align-items: center;
        gap: 20px;
    }

    .footer-bottom-copy {
        max-width: 280px;
    }

    .footer-bottom-brand-logo {
        width: 100px;
        height: auto;
    }

    .footer-bottom-links {
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-bottom-links a {
        font-size: 12px;
    }
}

@media (min-width: 1024px) and (max-width: 1439px) {
    .footer-section-container {
        width: 91%;
    }
}